@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
  background-color: rgb(19, 19, 19);
  font-family: "Noto Sans Mono", monospace;
}

@layer base {
  @font-face {
    font-family: "Nothing";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/nothing-font-5x7.ttf) format("truetype");
  }
}
